//? NAVBAR

@media (max-width: 1416px) {
  .nav-btn {
    font-size: 1.5rem;
  }
  .theme-btn-bg {
    width: auto;
  }

  nav li:last-child a i {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
  }
}

@media (max-width: 1215px) {
  .site-nav {
    display: block;
  }

  nav {
    display: none !important;
    position: fixed;
    flex-direction: column;

    top: 5px;
    left: 20px;
    z-index: 101;

    ul {
      margin-top: 0rem;
      padding: 0rem 2rem;
      display: grid;
      row-gap: 1rem;
      background: var(--main-black-background);
      border: 2px solid;
      border-color: var(--gold-gradient-most-used);

      li:last-child a i {
        text-align: center;
        font-size: 2rem;
        padding: 0.5rem;
      }
    }

    .nav-btn {
      font-size: 1.5rem;
    }
    .theme-btn-bg {
      width: auto;
    }
  }

  #hamburger {
    display: block;
    position: fixed;
    z-index: 102;
    top: 7%;
    left: 90%;
  }
}

@media (max-width: 1024px) {
  .showcase-container {
    margin-top: 12rem;
    display: flex;
  }
  .showcase-container .main-texts {
    width: 40rem;
  }
}

@media (max-width: 783px) {
  .showcase-container .main-texts {
    width: 100%;
    text-align: center;

    p {
      width: 35rem;
      margin: 0 auto;
    }
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btc-animation {
    position: absolute;
    top: 110%;
    left: 20%;
  }
}
