//? NAVBAR

@media (max-width: 1416px) {
  .nav-btn {
    font-size: 1.5rem;
  }
  .theme-btn-bg {
    width: auto;
  }

  nav li:last-child a i {
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
  }
}

@media (max-width: 1215px) {
  .site-nav {
    display: block;
  }

  .nav-normal {
    display: none;
  }

  nav {
    position: fixed;
    flex-direction: column;

    top: 5px;
    left: 20px;
    z-index: 101;

    ul {
      margin-top: 0rem;
      padding: 0rem 2rem;
      display: grid;
      row-gap: 1rem;
      background: var(--main-black-background);
      border: 2px solid;
      border-color: var(--gold-gradient-most-used);

      li:last-child a i {
        text-align: center;
        font-size: 2rem;
        padding: 0.5rem;
      }
    }

    .nav-btn {
      font-size: 1.5rem;
    }
    .theme-btn-bg {
      width: auto;
    }
  }

  #hamburger {
    display: block;
    position: fixed;
    z-index: 102;
    top: 8%;
    left: 90%;
  }
}

@media (max-width: 1024px) {
  .showcase-container {
    margin-top: 12rem;
    display: flex;
  }
  .showcase-container .main-texts {
    width: 40rem;
  }
}

@media (max-width: 800px) {
  .showcase-container {
    display: block;
  }
  .showcase-container .main-texts {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;

    p {
      width: 35rem;
      margin: 0 auto;
    }
  }

  .cta-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btc-animation {
    display: block !important;
    position: static;
  }
}

@media (max-width: 800px) {
  .divider-margin {
    margin-top: 4rem !important;
  }
}

@media (max-width: 727px) {
  .ps-container {
    flex-direction: column;

    align-items: center;

    .main-card {
      order: 2;
    }

    .ps-text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      order: 1;
    }
  }

  .hwrap {
    display: flex;
    /* (A1) DIMENSIONS */
    width: 100%;
    height: 8rem; /* OPTIONAL */

    /* (A2) COSMETICS */
    background: transparent;
    border-bottom: 2px solid;
    border-color: var(--text-white-secondary-color);
    overflow: hidden; /* HIDE SCROLLBARS */
  }

  .hslide {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 1rem;

    font-size: 2rem;
    text-align: center;

    justify-content: center;
    align-items: center;

    p {
      margin-bottom: 0.5rem;
    }
  }

  #hamburger {
    position: fixed;
    z-index: 102;
    top: 15%;
    left: 86%;

    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    i {
      font-size: 2.5rem;
    }
  }

  .side-nav {
    top: 7.8rem;
  }

  nav {
    h1 {
      margin-top: 5rem;
    }
  }
}

@media (max-width: 591px) {
  .ps-container .ps-text-container p {
    margin-bottom: 3rem;
    font-size: 1.7rem;
  }
}

@media (max-width: 547px) {
}

@media (max-width: 414px) {
  .showcase-container .main-texts .title {
    font-size: 4.5rem;
  }

  .showcase-container {
    margin-top: 9rem;
  }

  .ps-container .ps-text-container {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }

  .container-card .card-1 {
    max-width: 300px;

    margin: 0 auto !important;
  }
}

@media (max-width: 375px) {
  .ps-container .ps-text-container {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.5em;
      padding: 0 0 1.5rem;
    }
  }

  .table-headers-container h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .container-table {
    margin-top: 3rem;
  }

  .showcase-container .sub-text {
    font-size: 1.5rem;
  }

  .showcase-container .main-texts p {
    max-width: 20rem;
    margin: 0 auto;
  }
}
