.showcase-container {
  position: relative;
  margin-top: 8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 2%;

  .main-texts {
    margin-top: 0rem;
    align-self: flex-start;
    width: 38rem;

    text-transform: capitalize;
    .title {
      font-size: 6rem;
      color: var(--text-white-secondary-color);
      font-weight: 700;

      // padding: 1rem 1rem;
      // background: rgba(255, 255, 255, 0.1);
      // border-radius: 3rem;
      // width: 27.5rem;
    }
  }

  .sub-text {
    color: var(--text-gold-primary-color);
    font-size: 2rem;
    font-weight: 500;
  }
}

//? BTC IMG and ANIMATION

.btc-animation {
  position: absolute;
  top: 3%;
  left: 60%;

  .bitcoin {
    width: 225px;
    height: 100px;
    margin: 0 auto;
  }

  img {
    width: 250px;
    animation: 2s transform infinite;
  }

  .shadow-btc {
    width: 250px;
    height: 50px;
    background: var(--navbar-gold-gradient-bg);
    border-radius: 100%;
    margin: 180px auto 10px auto;
    -webkit-animation: shadow 2s infinite;
  }
}

@keyframes transform {
  0% {
    transform: translateY(-5%);
  }
  60% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-5%);
  }
}

@-webkit-keyframes shadow {
  0% {
    width: 300px;
    -webkit-transform: scale(0.8);
    -webkit-filter: blur(10px);
  }
  60% {
    width: 290px;
    -webkit-transform: scale(1.1);
    -webkit-filter: blur(15px);
  }
  100% {
    width: 300px;
    -webkit-transform: scale(0.8);
    -webkit-filter: blur(10px);
  }
}

//? section divider bottom

.divider {
  margin-top: 8rem;
  display: block;
  box-sizing: border-box;
  height: 100px;
  background-image: linear-gradient(to right, #000000, #363636, #232222);
  clip-path: ellipse(93% 100% at 11.08% 100%);
}
