:root {
  --main-background: linear-gradient(to right, #000000, #252525);

  --text-primary-color: rgba(241, 184, 12, 1);
  --text-secondary-color: white;
  --text-menu-color: black;

  --navbar-bg: linear-gradient(to right, #f1b80c, #f6cc4d, #f1b80c);
}
