@use "../bs-custom";

.navbar-brand {
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  background: var(--navbar-bg);

  li {
    padding: 0 0.7rem;

    a {
      color: var(--text-secondary-color) !important;

      text-transform: capitalize;
      font-weight: 300;
      white-space: nowrap;
      font-size: 1.2rem;
    }
  }

  button {
    font-weight: 300;
    margin-left: 2rem;
  }
}

.navbar-toggler-icon {
  .navbar-toggler:focus {
    box-shadow: none;
    border: none !important;
    outline: transparent !important;
  }
}

.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
