html {
  margin-top: 0rem;
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("http://fonts.cdnfonts.com/css/calibre");

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Calibre", "lato", sans-serif;
  background: var(--main-black-background);
  color: var(--text-gold-primary-color);
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

.site-wrapper {
  touch-action: pan-y pinch-zoom;
}
//? section divider bottom
.divider {
  margin-top: 8rem;
  display: block;
  box-sizing: border-box;
  height: 100px;
  background-image: linear-gradient(to right, #000000, #363636, #232222);
  clip-path: ellipse(93% 100% at 11.08% 100%);
}

.divider-reverse {
  margin-top: 6rem;
  display: block;
  box-sizing: border-box;
  height: 100px;
  background-image: linear-gradient(to right, #000000, #363636, #232222);
  clip-path: ellipse(207% 100% at 178.74% 100%);
}

.container {
  position: relative;
}

.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

@media (max-width: 783px) {
  .divider-margin {
    margin-top: 43rem !important;
  }
}

@media (max-width: 582px) {
  .divider-reverse {
    margin-top: 3rem;
  }
  .divider-rc {
    margin-top: 3rem;
  }
}
