html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("http://fonts.cdnfonts.com/css/calibre");

body {
  font-family: "Calibre", sans-serif;
  background: var(--main-black-background);
  color: var(--text-gold-primary-color);
}

//? text

.text-gradient-gold {
  background-image: linear-gradient(to right, #f1b80c, #e9c65f, #aa820b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-white {
  background-image: linear-gradient(to right, #b9b9b9, #ffffff, #f6f5f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
